body{
    margin:0;
    padding:0;
    background: url(back.jpg) no-repeat;
    background-size: cover;
}
.box{
    width: 450px;
    background: rgba(0,0,0,0.4);
    padding: 40px;
    text-align: center;
    margin:auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif ;
}
.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h5{
    font-size: 25;
    letter-spacing: 3px;
    font-weight: 100;
}
.box p{
    text-align: justify;
}
ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.box li a {
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250;
}
.box li a:hover {
    color:#b9b9b9;
}
small{
    color: rgba(7, 7, 7, 0.5);
    font-family: 'Century Gothic', sans-serif;

}
.content-table {
    border-collapse: collapse;
    text-align:  center;
    margin: 25px 0;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
}

.content-table th,
.content-table td {
  padding: 10px 15px;
  color: #ffffff;
  font-size: 23px;
  font-family: 'Century Gothic', sans-serif;
}

  
  